.field-block {
    margin-left: 0.25em;
    font-weight: bold;
    font-size: 1.1em;
    box-sizing: border-box;
    flex-direction: column;
}

.field-block input,
.field-block select,
.field-block textarea {
    width: 100%;
    box-sizing: border-box;
    min-width: 0;
}

.field-block.full-width {
    width: 100% !important;
    max-width: 100%;
}
